<%- include('header.ejs'); %>
<table width="30%;"  style="border:1px solid black;">
    <tr><th>Номер комикса</th><th >Комиксы</th><th >Цена</th></tr>
    <% massiveJSON.forEach((objectProduct,i)=>{ %>
        <tr style="border:1px solid black;">
            <td style='text-align:center;'><%= i+1 %></td>
            <td style='text-align:center;'><%= objectProduct.Comics %></td>
            <td style='text-align:center;'><%= objectProduct.Count %></td>
           
        </tr>
   <% }) %>
</table>


<%- include('footer.ejs'); %>